<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            td {
                padding: 0.4rem;
            }
        </style>
    </head>
    <body>
        <% if (locals.shortId) { %>
        <p> <%= shortId %> </p>
        <% } %>
        <div>
            <form method="POST" action="/api/url/">
                <h2>URL Shortner -</h2>
                <input
                    type="text"
                    placeholder="http://example.com"
                    name="url"
                />
                <button type="submit">Generate</button>
            </form>
            <table>
                <thead>
                    <th>Sl no.</th>
                    <th>URL</th>
                    <th>Short Id</th>
                </thead>
                <% for( let index = 0; index < locals.allUrls.length; index++ ) { %>
                    <tr>
                        <td><%= index + 1 %></td> 
                        <td><%= locals.allUrls[index].url %></td> 
                        <td><%= locals.allUrls[index].shortId %></td> 
                    </tr>
                <% } %>
            </div>
        </div>
    </body>
</html>
