<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            max-width: fit-content;
        }
        form input {
            margin: 0.5rem;
        }

        form label {
            margin: 0 0.5rem 0;
        }
    </style>
</head>
<body>
    <h3>Sign Up</h3>
    <form action="/user/login/" method="post">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required />
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required />
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>